<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byoutline.pinafood" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- used  to save spoon's screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".PinAFoodApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pinafood" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.PinnedFoodActivity"
            android:label="@string/title_activity_pinned_food" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddPinActivity"
            android:label="@string/title_activity_add_pin" >
        </activity>
        <activity
            android:name=".activities.PinDetailsActivity"
            android:label="@string/title_activity_pin_details" >
        </activity>
    </application>

</manifest>
